/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



@media screen and (min-width: 992px) and (min-width: 1200px) {}

/* asdiifjiasodkl */
@media (max-width:830px) {
    .nav-search {
        display: none;
    }
}

@media(max-width:560px) {
    .nav-logo img {
        width: 80px;
    }

    .location-home p {
        font-size: 0.6rem;
        color: #cccccc;
    }

    .location-home span {
        font-size: 0.75rem;
        font-weight: bolder;
    }

    .flage img {
        width: 15px;
    }

    .span-en {
        font-size: 0.7rem;
    }

    .accounts-lists p {
        font-size: 0.6rem;
    }

    .accounts-lists h2 {
        font-size: 0.75rem;
        font-weight: bolder;
    }

    .nav-cart i {
        font-size: 0.6rem;
    }

    .nav-cart p {
        font-size: 0.7rem;
    }

    .nav-logo img {
        width: 60px;
    }
}



@media(min-width:320px) and (max-width:470px) {
    .nav-logo img {
        width: 40px;
    }

    .navigate {
        display: none;
    }

    .nav-lang {
        display: none;
    }

    .accounts-lists p {
        font-size: 0.6rem;
    }

    .accounts-lists h2 {
        font-size: 0.75rem;
        font-weight: bolder;
    }

    .nav-cart i {
        font-size: 0.6rem;
    }

    .nav-cart p {
        font-size: 0.7rem;
    }
}