@media only screen and (max-width: 410px) {
    .footer-container {
        padding: 30px 15px;

    }
}

@media only screen and (min-width: 410px) and (max-width: 768px) {
    .footer-container {
        padding: 30px 130px;

    }
}

@media only screen and (max-width: 768px) {

    .pc-navbar-ui,
    .navbar-seconde {
        display: none;
    }

    .mobile-navbar-ui,
    .mobile-navbar-bottom {
        display: flex;
    }

    .pc-canvas-view {
        display: none;
    }

    .mob-canvas-view {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 830px) {
    .nav-logo img {
        width: clamp(70px, 1vw, 90px);
    }

    .span-en {
        font-size: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .hidden-div {
        display: none;
    }
}

@media only screen and (max-width: 1010px) {
    .owl-nav {
        display: flex !important;
    }
}
