/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer-container {
        padding: 30px 90px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .image-item {

        padding: 0 100px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .pc-navbar-ui,
    .navbar-seconde {
        display: none;
    }

    .mobile-navbar-ui,
    .mobile-navbar-bottom {
        display: flex;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .hidden-div {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



@media screen and (min-width: 992px) and (min-width: 1200px) {}