* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Amazon Ember", Arial, sans-serif;
    background: #E3E6E6;
    margin: 0;
}


/* ---------------------------sild-bar --------------------------*/
.offcanvas {
    width: 20%;
}

.slidbar-head {
    background-color: #232f3e;
    color: white;
}

.offcanvas-title {
    font-size: clamp(7px, 2vw, 19px) !important;
}

.sidebar-link {
    list-style: none !important;
    padding-left: 0 !important;
}

.silder-block-header {
    font-size: clamp(5px, 2vw, 18px) !important;
    font-weight: 800;
}

.silder-block-text {
    font-size: clamp(3px, 2vw, 14px) !important;
    font-weight: 100;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #0f1111;
    padding: 10px 20px;
    height: 60px;
    color: aliceblue;
    /* position: fixed; */
    width: 100%;
}

/* ---------------------------navbar--------------------------*/

.nav-logo:hover {
    border: 1px solid #ffffff;
    padding: 0.3rem !important;
}

/* -----------------------location--------------------------- */
.navigate {
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    border: none;
    position: relative;
}


.location {
    display: flex;
    align-items: end;
    margin-left: 10px;
    border: none;
}

#location {
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding-right: 3px;
    border: none;
}

.location-home {
    margin-left: 2px;
    border: none;
}

.location-home p {
    font-size: 0.8rem;
    color: #cccccc;
    margin-bottom: 3px !important;
    margin-left: -20px;
    border: none;
}

.location-home span {
    font-size: 0.95rem;
    font-weight: bolder;
    border: none;
}

.navigate:hover {
    border: 1px solid #ffffff;
    padding: 0.3rem !important;
}

/* --------location-hide-div---------------- */


.location-box-text {
    font-size: clamp(5px, 2vw, 13px);
    font-weight: 100;
    opacity: 0.7;
}


.location-button-color {
    background-color: #F7CA00;
}

.location-button-color:hover {
    background-color: #ecc204;

}

.modal-header {
    background-color: #F0F2F2;
    width: 100%;
}

/* --------------------------------search--------------------------- */
.nav-search {
    display: flex;
    height: 40px;
    width: 620px;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 5px;
}

.nav-search:active {
    border: 1px solid #ffffff;
    padding: 0.3rem !important;
}

.search-select {
    background-color: #F3F3F3;
    text-align: center;
    width: 70px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 100%;
}

.nav-search-logo {
    align-items: center;
    width: 45px;
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgb(255, 174, 7);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0F1111;
}

/* -------------------language-------------------------------------- */
.nav-lang {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;
    padding: 0.5rem;
}

.language-select-container {
    position: absolute;
    top: 100%;
    cursor: pointer;
    height: auto;
    color: #0F1111 !important;
    width: 250px;
    background-color: #ffffff !important;
    border-radius: 1%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateY(200px);
    box-shadow: 0 5px 1000px rgba(0, 0, 0, 0.8)
}

.nav-lang:hover {
    border: 1px solid #ffffff;
    padding: 0.3rem !important;

}

.nav-lang:hover .language-select-container {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0px);

}

.nav-lang:hover #body-fooyter {
    backdrop-filter: blur(10px) !important;
}

.language-select-option {
    padding: 0 20px;
    padding-bottom: 10px;
    accent-color: rgb(235, 173, 60);

}

.language-select-text {
    font-size: clamp(7px, 2vh, 13px);
}

/* ------------------------------account---------------------------------- */
.account-section {
    position: relative;
}

.accounts-lists {
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    margin-left: 10px;
}

.accounts-lists p {
    font-size: 0.8rem;
    margin-bottom: 3px !important;
}

.accounts-lists h2 {
    font-size: 0.95rem;
    font-weight: bolder;
}

.account-info-container {
    position: absolute;
    top: 100%;
    right: 3%;
    height: auto;
    color: #0F1111 !important;
    width: 400px;
    background-color: #ffffff !important;
    border-radius: 2%;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateY(200px);
    box-shadow: 0 5px 1000px rgba(0, 0, 0, 0.8)
}

.account-signin-btn {
    width: 40%;
    border: none;
    border-radius: 7px;
    background-color: #f3d266;
    font-size: clamp(8px, 2vw, 16px);
}

.account-info-header-text {
    font-size: clamp(6px, 2vw, 12px);
}

.account-info-body-text {
    font-size: clamp(6px, 2vw, 12px);
    text-wrap: nowrap;
    line-height: 0.8rem;
}

.accounts-lists:hover {
    border: 1px solid #ffffff;
    padding: 0.2rem !important;
}

.account-section:hover .account-info-container {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateY(0px);
}

/* -----------------------cart --------------------- */
.nav-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 10px; */
    border: none;
}

.nav-cart i {
    font-size: 1rem;
    line-height: 1.3rem;
    /* padding-right: 3px; */
    border: none;
}

.nav-cart p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    margin-bottom: 0;
    border: none;
}

.cart-section :hover {
    border: 1px solid #ffffff;
    padding: 0.2rem !important;
}

/* ----------------------------seconde -navbar ------------------- */
.navbar-seconde {
    width: 100%;
    background-color: #232f3e;
    height: auto;
    /* padding-top: 60px !important; */
}

.navbar-bottom-style li {
    padding: 0 15px;
    margin-right: auto;
}

.navbar-bottom-style a {
    color: white;
    text-decoration: none;
    border: none;
    font-size: clamp(8px, 2vw, 16px);
    white-space: nowrap;

}

.navbar-bottom-style li :hover {
    border: 1px solid white;
    padding: 0.5rem;
}

/* ------------------------carousales----------------------- */


.carousel-control-prev {
    line-height: 1.2rem;

}

.carousel-control-next {
    line-height: 1.2rem;
}

.carousel-item img {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 3;
}

.carousel-control-prev:active {
    border: 3px solid white;
}

.carousel-control-next:active {
    border: 3px solid white;
}


/* ----------------------grid images -------------------------- */


.grid-img-text {
    font-size: smaller;
}

.grid-card-layout {
    /* border: 1px solid black; */
    padding: 8px !important;
    margin-bottom: 10px;
    /* margin-top: -220px; */
    z-index: 12;
    /* background-color: black !important; */
}

.card-inline-content {
    padding: 10px !important;
    background-color: #ffffff !important;
}